<html>
    <body>
    <form action="http://127.0.0.1:5000/form" method="post">

        <div class="name">
            <p>Enter name of product:</p>
            <p><label>
                <input type="text" name="name"/>
            </label></p>
        </div>

        <div class="price">
            <p>Enter price of item:</p>
            <p><label>
                <input type="text" name="price"/>
            </label></p>
        </div>

        <div class="quantity">
            <p>Enter quantity of item:</p>
            <p><label>
                <input type="text" name="quantity"/>
            </label></p>
        </div>

        <p><input type="submit" value="submit"/></p>
    </form>
    </body>
</html>
